*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body{
background-color: grey;
}
#header-section{
width: 800px;
margin: 10px;
margin-right: auto;
margin-left: auto;
display: flex;
justify-content: center;
align-self: center;
}

#headline {
font-size: 100px;
}

#searched-word-container{
width: 800px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
}

#searched-word-sub-container{
width: 70%;
}

#main-container{
width: 800px;
background-color: bisque;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.searched-word{
font-size: 30px;
font-family: "Ultra", serif;
color: rgb(14, 1, 1);
font-style: normal;
}
.searched-word::first-letter{
    text-transform: capitalize;
}
.sub-container{
background-color:rgba(200, 100, 100, 10); 
width: 70%;
margin: 20px;
}
.paragraph{
font-family: "roboto", sans-serif;font-size: 24px;
color: brown;
padding: 10px;
}
.part-of-speech{
font-size: 20px;
color: rgb(195, 149, 149);
padding: 10px;

}
.word {
font-family: "roboto", sans-serif;font-size: 24px;
font-size: 24px;
color: white;
padding: 10px;
}
.word::first-letter{
text-transform: capitalize;
    
}
.sourceDictionary{
font-size: 24px;
color: blueviolet;
}

#search-container{
width: 800px;
margin-top: 100px;
margin-right: auto;
margin-left: auto;
display: flex;
justify-content: flex-end;
}

input[type=text],#searchButton {
width: 200px;
font-family: "Ultra", serif;
color: white;
height: 40px;
border-radius: 50px;
border: none;
background-color:  rgb(195, 149, 149);
;

}
input[type=text]::placeholder{
color: brown;
font-family: "Ultra", serif;
padding: 10px;
padding: 24px;
color: rgb(216, 194, 194);
}
