*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body{
width: 100%;
background-color: grey;
}
#header-section{
width: 800px;
margin: 10px;
margin-right: auto;
margin-left: auto;
display: flex;
justify-content: center;
align-self: center; 
}

#headline {
font-size: 100px;
}
#small-container{
display: flex;
justify-content: end;
}

#searched-word-container{
width: 80%;
display: flex;
/* justify-content: center; */
margin-left: auto;
margin-right: auto;
}

.searched-word-sub-container{
width: 80%;
display: flex;
justify-content: center; 
margin-left: auto;
margin-right: auto;
}


.search-small-container{
 width: 20%;

}

.content-main-container{
width: 100%;

}

.content-container{
width: 80%;
display: flex;
margin-right: auto;
margin-left: auto;

}

#main-container{
width: 80%;
background-color: bisque;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.related-words-container{ 
width: 20%;
height: max-content;
margin-top: 10px;
background-color: rgb(226, 207, 207);
display: flex;
flex-direction: column;
    }


#search-container{
width: 80%;
margin-top: 100px;
display: flex;
justify-content: flex-end;
margin-right: auto;
margin-left: auto;
        }
    
.searched-word{
font-size: 30px;
font-family: "Ultra", serif;
color: rgb(14, 1, 1);
font-style: normal;
}
.searched-word::first-letter{
text-transform: capitalize;
}
.sub-container{
background-color:rgba(200, 100, 100, 10); 
width: 70%;
margin: 20px;
}
.paragraph{
font-family: "roboto", sans-serif;font-size: 24px;
color: brown;
padding: 10px;
}
.part-of-speech{
font-size: 20px;
color: rgb(195, 149, 149);
padding: 10px;

}
.word {
font-family: "roboto", sans-serif;
font-size: 24px;
font-size: 24px;
color: white;
padding: 10px;
}
.word::first-letter{
text-transform: capitalize;
    
}
.sourceDictionary{
font-size: 24px;
color: blueviolet;
}

input[type=text] {
width: 200px;
font-family: "Ultra", serif;
padding: 20px;
height: 40px;
border-radius: 50px;
border: none;
}

#searchButton {
width: 200px;
font-family: "Ultra", serif;
height: 40px;
border-radius: 50px;
border: none;
background-color:  rgb(195, 149, 149);
    }
input[type=text]::placeholder{
color: brown;
font-family: "Ultra", serif;
padding: 10px;
padding: 24px;
color: rgb(216, 194, 194);
}

.similar-word{
font-size:18px;
font-family: "roboto", sans-serif;
padding: 10px 0px 0px 30px;
}
.relationship-type{
font-size: 20px;
font-family: "roboto", sans-serif;
padding: 10px 0px 0px 30px;

}

.relationship-type::first-letter {
text-transform: capitalize;
    }
